# composer
/vendor/
/*/*/vendor/
/build/
composer.lock

# vscode
/.vscode/

# Monorepo
/.monorepo-cache

# not allowed
.phpcs-cache
/tools/*/tests/build/
/packages/*/tests/build/
/packages/*/tests/caches/
