<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         cacheResultFile="build/.phpunit.cache"
>
  <php>
    <ini name="error_reporting" value="-1" />
  </php>

  <testsuites>
    <testsuite name="tools">
      <directory>./tools/*/tests/</directory>
    </testsuite>
    <testsuite name="annotations">
      <directory>./packages/annotations/tests</directory>
    </testsuite>
    <testsuite name="cache">
      <directory>./packages/cache/tests</directory>
    </testsuite>
    <!-- <testsuite name="http-galaxy">
      <directory>./packages/http-galaxy/tests</directory>
    </testsuite> -->
    <testsuite name="loader">
      <directory>./packages/loader/tests</directory>
    </testsuite>
    <testsuite name="maker">
      <directory>./packages/maker/tests</directory>
    </testsuite>
    <testsuite name="security">
      <directory>./packages/security/tests</directory>
    </testsuite>
    <testsuite name="templating">
      <directory>./packages/templating/tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory>./packages/*/src/</directory>
      <directory>./tools/*/src/</directory>
    </include>
</coverage>
</phpunit>
